<div class="">
  <h4>Version: 1.0.0</h4>
  <a routerLink="/">Go Home</a>
  <br>
  <br>
  <h3>Note</h3>
    <p>
      This project was made as self-training following [TraversyMedia's Angular
      Crash Course
      2021](https://www.youtube.com/watch?v=3dHNOWTI7H8&t=1301s&ab_channel=TraversyMedia).
    </p>
    <br />
    <h3>Features</h3>
    <ul>
      <li>
        Add, Delete & Mark tasks (by dblClicking the task) using services.
      </li>
      <li>Toggelable display for the add-task form.</li>
      <li>Routing.</li>
    </ul>
</div>
